<div class="container">
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Giriş Sayfası Ayarları</h4>
      <p class="card-description">
        Giriş Sayfası

      </p>
      <form class="forms-sample" method="post" action="girissayfasi">
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Giriş Sayfası Yazı</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputUsername2" name="ustyazi" required placeholder="<%= girissayfasis.page1_title %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Giriş Sayfası Alt Yazı</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputEmail2" name="altyazi" required placeholder="<%= girissayfasis.page1_slogan %>">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Giriş Sayfası Buton Yazısı</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputMobile" name="buttonyazi" required placeholder="<%= girissayfasis.page1_buton_text %>">
          </div>
        </div>
        <button type="submit" class="btn btn-primary me-2">Kaydet</button>
      </form>
    </div>
  </div>
 
</div>

 
 